In [18]:
import pandas as pd
import os

current_dir = os.getcwd()
data_path = os.path.join(current_dir, '..', 'data', 'raw', 'raw_data.csv')
data = pd.read_csv(data_path)

In [19]:
# we will be dropping irrelevant columns (Comment made by VedantK)
data_model = data.drop(['RowNumber', 'CustomerId', 'Surname'],axis = 1)

In [20]:
data_model.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [21]:
# Encoding Gender (cmt by vedant)
data_model['Gender'] = data_model['Gender'].map({'Male':1, 'Female':0})

In [22]:
card_map = {'SILVER':1, 'GOLD':2, 'PLATINUM':3, 'DIAMOND':4}
data_model['Card_Type_Encoded'] = data_model['Card Type'].map(card_map)
data_model = data_model.drop('Card Type', axis=1)

In [25]:
data_model = pd.get_dummies(data_model, columns=['Geography'])

In [26]:
data_model.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned,Card_Type_Encoded,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,2,464,4,True,False,False
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1,3,456,4,False,False,True
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,3,377,4,True,False,False
3,699,0,39,1,0.00,2,0,0,93826.63,0,0,5,350,2,True,False,False
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,5,425,2,False,False,True

In [27]:
X = data_model.drop('Exited', axis=1)
y = data_model['Exited']

In [31]:
data_path = os.path.join(current_dir, '..', 'data', 'processed', 'processed_data.csv')

In [32]:
data_model.to_csv(data_path, index=False)